.img {
    float:left;
}
.item-box {
    background-color: #D34735;
    margin:20px 5px;
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    position: relative;
}
.item-box > span, h5 {
    font-size:20px;
    text-decoration: underline;
}
.item-box img {
    margin-right: 10px;
    width: 320px;
    height: 200px;
}
.btn1 {
    padding: 10px;
    margin: 5px 10px;
    background-color: #3AD886;
    border-radius: 7px;
    border: none;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.btns-box {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}